<div class="topbar">
  <div class="topnew">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 topbut">
    <a class="toplogin" data-toggle="modal" data-target="#myModal">Login </a>
    <a class="topreg" data-toggle="modal" data-target="#myModal1">Sign Up</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<header class="header">
  <div class="container">
  <a href="" class="logo"><img src="/assets/logowhite.png"></a>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work">Features</a></li>
    <li><a href="#about">About</a></li>
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu" style="display: none;">
            <li><a href="#">HOW IT WORKS</a></li>
            <li><a href="#">MARKET STATISTICS</a></li>
            <li><a href="#">ANNOUNCEMENTS</a></li>
            <!-- <li class="divider"></li> -->
            <li><a href="#">CHANGE LOG</a></li>
            <!-- <li class="divider"></li> -->
            <li><a href="#">CAREERS</a></li>
            <li><a href="#">SUPPORT CENTER</a></li>
            <li><a href="#">NEWSLETTER</a></li>
            <li><a href="#">MEDIA CONTACT</a></li>
          </ul>
        </li>
      </ul>
    <li><a href="#careers">EOS.IO</a></li>
    <li><a href="#careers">Hackathon</a></li>
    <li><a href="#contact">Contact</a></li>
    
  </ul>
  </div>
</header>


<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <span class="alertbox"><alert></alert></span>
        <!-- Modal Header -->
        <div class="modal-header">
           
          <!-- <h4 class="modal-title">Login</h4>  -->
          <span class="login100-form-logo">
            <!-- <i class="zmdi zmdi-landscape"></i> -->
            <img src="assets/user.png">
          </span>
         
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <login-page></login-page>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>

  <div class="modal" id="myModal1">
      <div class="modal-dialog">
        <div class="modal-content">
            <span class="alertbox"><alert></alert></span>
          <!-- Modal Header -->
          <div class="modal-header">
             
              <span class="login100-form-logo">
                  <!-- <i class="zmdi1 zmdi-landscape1"></i> -->
                  <img src="assets/create1.png">
                  
                </span>
            <!-- <h4 class="modal-title">Register</h4> -->
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          
          <!-- Modal body -->
          <div class="modal-body">
             
              <reg-app></reg-app>
          </div>
          
          <!-- Modal footer -->
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div> -->
          
        </div>
      </div>
    </div>