<footer>
  <div class="footer new">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 firstfooter">
          <img src="assets/logowhite.png">
         <p>
            BitMEX is a P2P crypto-products trading platform.
            BitMEX and the mobile apps issued under BMEX are wholly owned and operated by HDR Global Trading Limited, 
            a Republic of Seychelles incorporated entity or its relevant authorized affiliates.
         </p>
        </div>
        <div class="col-md-3 secondfooter">
          <h3>About</h3>
          <ul class="about">
            <li>About the Team</li>
           <li> Affiliate Program</li>
            <li>Careers at BitMEX</li>
            <li>Privacy Policy</li>
            <li>Security</li>
            <li>Terms of Service</li>
            </ul>
        </div>
        <div class="col-md-3 thirdfooter">
          <h3>References</h3>
            <ul class="ref">
                <li>Api</li>
                <li>FAQm</li>
               <li> Futures Guide</li>
                <li>Perpetuals Guide</li>
                
                </ul>
        </div>
        <div class="col-md-3 fourthfooter">
          <h3>lets get Social</h3>
            <ul class="social-icon">
                <li><a href="#" class="fa fa-facebook wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"></a></li>
                <li><a href="#" class="fa fa-twitter wow fadeIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;"></a></li>
                <li><a href="#" class="fa fa-dribbble wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
                <li><a href="#" class="fa fa-behance wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
                <li><a href="#" class="fa fa-tumblr wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
              </ul>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="copyright">
    <div class="container copyright">
      <p>
        Website designed and developed by <a href="www.experdel.com" target="_blank">Experdel</a>
      </p>
    </div>
    </div>
  </footer>