<section class="deposit">
  <div class="container">
    <div class="row">
      <div class="col-md-6 depositfirst">
        <div class="depositdrop">
            <div class="depcoin">
               <div class="showcoins"><span>Select coin/token to deposit</span><i class="fa fa-caret-down"></i> </div>
                <div id="myDIV" style="display:none">
                  <input type="text" placeholder="search">
                  <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>4</li>
                    <li>5</li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 depositsecond">

      </div>
    </div>
  </div>
  </section>